<a href="https://colab.research.google.com/github/Ikhadija-5/Predicitng-House-Prices/blob/main/Khadija_Iddrisu_Linear_Regression_from_Scratch_and_Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Regression From Scratch(Predicting House Prices)

1. We will first of all import the neccasary libraries we will be using

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading the data file in in pandas
data = pd.read_csv("/content/house_data.csv" )

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

2. We will create a variable X for the input columns (features)

In [4]:
X = data.iloc[:,3:]
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
X.shape

(21613, 18)

3. We then create a variable y for the output column (target).

In [6]:
y = data.iloc[:,2]
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [7]:
y.shape

(21613,)

4. We split the dataset into two sets, training and test sets.

In [8]:
def split_data(data, train_percent):
  ########## fill the code ########
  np.random.seed(3)
  perm = np.random.permutation(data.index)

  n = len(data)
  train_index = int(train_percent * n)

  train = data.iloc[perm[:train_index]]
  test = data.iloc[perm[train_index:]]

  X_train = train.iloc[:,3:].values
  y_train = train.iloc[:,2].values

  X_test = test.iloc[:,3:]
  y_test = test.iloc[:,2]

  return X_train, X_test, y_train, y_test

In [9]:
X_train, X_test, y_train, y_test = split_data(data,0.8)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((17290, 18), (4323, 18), (17290,), (4323,))

5. Implement function MLE, that computes the maximum likelihood estimator for the given data.

Calculate the model parameter using the closed form solution as indicated in the following equation:

$$
\boldsymbol w = (\boldsymbol X^T\boldsymbol X)^{-1}\boldsymbol X^T\boldsymbol Y
$$

X is the inputs, and Y is the targets

In [10]:
def MLE(inputs, targets):
  #inputs,targets = X_train, Y_train
  # w= (np.linalg.inv(inputs.T @ inputs))*inputs@targets
  w1 = X_train.T@X_train
  w1 = np.linalg.inv(w1)
  w2 = X_train.T@y_train
  w = w1@w2
  return w

In [11]:
weight = MLE(X_train,y_train)
weight.shape

(18,)

In [12]:
# define the MSE function
def MSE(y_true, y_pred):
  result = np.sum((y_true - y_pred)** 2)  / len(y_true)
  return result
  # calculate the MSE and return it

In [13]:
def predict(X):
  y_pred = X @ weight
  return y_pred

In [14]:
y_predicted = predict(X_test)

6. Use Mean squared error to report the performance of the linear regression model.

$$
MSE = \frac{\sum{(target - prediction)^2}}{n}
$$

In [15]:
# define the MSE fun
def MSE(y_true, y_pred):
  result = np.sum((y_true - y_pred)** 2)  / len(y_true)
  return result

In [16]:
MSE(y_test,y_predicted)

2647365457947123.0

In [29]:
# Calculate accuracy percentage between two lists
def accuracy_metric(y_true, y_pred):
	correct = 0
	for i in range(len(y_true.values)):
		if y_true.values[i] == y_pred.values[i]:
			correct += 1
	return correct / float(len(y_true.values)) * 100.0

In [ ]:
accuracy_metric(y_test,y_predicted)

In [31]:
#####################################################################################################################################################

##Linear Regression Using Scikit Learn

In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


* check  [sklearn documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) on how to use the **train_test_split** function in the sklearn library.

In [36]:
#Split the model into training and testing sets
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split( X, y, test_size=0.25, random_state=42)

#Training the model
model = LinearRegression()
  
model.fit(X1_train, y1_train)
Y_pred = model.predict(X1_test)
print(model.score(X_test, y_test))

0.7044810324292193

In [ ]:
MSE(Y_pred,y1_test)

In [35]:
model.score(X1_test,y1_test)

0.7048466077761626